body {
  background-color: #ffc3c3;
  display: grid;
  min-height: 1080px;
}
.card {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  width: 25%;
  margin: auto;
}
.product-image {
  max-width: 100%;
}
.info {
  display: grid;
  gap: 16px;
}
.price {
  font-weight: bold;
  font-size: 32px;
  color: #333333;
}
.title {
  font-weight: bold;
  font-size: 24px;
  color: #333333;
}
.description {
  font-size: 16px;
  color: #333333;
}
.color-selection {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.text_color {
  color: #666666;
  font-size: 16px;
}
.color-label {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-left: 15px;
}
.color-selection input[type="radio"] {
  display: none;
}
.color-selection input[type="radio"]:checked + .color-label {
  border: 2px solid #000;
}
.button {
  display: grid;
  gap: 10px;
  margin-bottom: 30px;
}
.add {
  background-color: #fbbf23;
  border-color: #fbbf23;
  color: black;
  border-radius: 5px;
  font-size: 24px;
  width: 100%;
  height: 55px;
}
.buy {
  background-color: white;
  border: 1px solid blue;
  color: black;
  border-radius: 5px;
  font-size: 24px;
  width: 100%;
  height: 55px;
}
.reviews {
  font-size: 16px;
  line-height: 24px;
  color: #61a5fa;
}
